<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <title>To Do List</title>
  </head>
  <body>
    <div class='container'>
      <h1>{{ category.getName }}</h1>

      {% if tasks is not empty %}
        <p>Here are the tasks for this category:</p>
        <ul>
          {% for task in tasks %}
            <li>{{ task.getDescription }}</li>
          {% endfor %}
        </ul>
      {% endif %}

      <form action='/add_tasks' method='post'>
        <input id='category_id' name='category_id' type='hidden' value='{{ category.getId() }}'>
        <label for="task_id">Select a task to add to this category</label>
        <select id="task_id" name="task_id" type="text">
          {% for task in all_tasks %}
            <option value="{{ task.getId }}"> {{ task.getDescription }} </option>
           {% endfor %}
        </select>    
        
        <button type='submit' class='btn btn-success'>Add task</button>
      </form>
      <br>
      <form>
      <button type="submit" class='btn btn-danger'><a href="/categories/{{ category.getId }}/edit">Edit this category</a></button>
      </form>
      <br>
      <form action='/' method='get'>
          <button type='submit' class='btn btn-primary'>Home</button>
      </form>
    </div>

    </div>
  </body>
</html>
